{% extends 'blocks/base.html' %}
{% block body %}
    <h1>{{ object.title }}</h1>
    <h3>{{ object.description }}</h3>
        {% for category in object.category_set.all %}
            <h2>
                <li>
                    <a href="{% url 'm9adery:categorybooks'  object.id category.id  %}">{{ category.name }}</a>
                        {% csrf_token %}
                </li>
            </h2>
        {% empty %}
            <p>No categories here yet :(</p>
        {% endfor %}
    <a href="{% url 'm9adery:category-add' %}">Add category</a>
{% endblock %}