{% extends 'blocks/base.html' %}
{% block body %}
    {% if all_categorys %}
    <h1>التصنيفات:</h1>
    <ul>
        {% for category in all_categorys %}
         <div class="row" >
              <div class="col-md-4 animate-box">
                    <div class="thumbnail">
                        <a href="{% url 'm9adery:categorydetail' category.id %}">
                           {% if category.cover %} <img src="{{ category.cover.url }}" class="img-responsive" width="400px" height="400px">{% endif %}
                        </a>
                        <div class="caption">
                            <h3>{{ category.name }}</h3>
                        </div>
                    </div>
                </div>
        {% endfor %}
    </ul>
    {% else %}
        <h3>There are no books yet</h3>
    {% endif %}
    <a href="{% url 'm9adery:category-add' %}">Add Category</a>
    <!--<form method="POST" action="">{% csrf_token %}-->
        <!--{{ form.as_p}}-->
        <!--<input type="submit" value="add book">-->
    <!--</form>-->
{% endblock %}