{% extends 'blocks/base.html' %}
{% block body %}
    <div class="albums-container container-fluid">


        <div class="row">
        <h1>:{{ category.name }} الكتب المرفوعة في تصنيف</h1>
        {% for book in books %}
                <div class="col-sm-4 col-lg-2">
                    <div class="thumbnail">
                        <a href="{% url 'm9adery:bookdetail' book.id %}">
                            <img src="{{ book.cover.url }}" class="img-responsive">
                        </a>
                        <div class="caption">
                            <h2>{{ book.title }}</h2>
                        </div>
                    </div>
                </div>
        {% empty %}
            <p>No books here yet :(</p>
        {% endfor %}
        <a href="{% url 'm9adery:book-add' %}">Add Book</a>
        <!--<form method="POST" action="">{% csrf_token %}-->
            <!--{{ form.as_p}}-->
            <!--<input type="submit" value="add book">-->
        <!--</form>-->
    {% endblock %}